:root {
    --white: #fdf6f0;
    --black: #36454F;
} 

html{
  scroll-behavior: smooth;
    animation: fadeIn 0.8s ease-out;
}

body {
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  text-align: center;
  color: var(--black);
  
  background-color: var(--white);
  background-image: url('./Assets/Form/Botanical-Background-Large.jpeg'); 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  scroll-behavior: smooth;
  padding: 2rem;

  justify-content: center;
  align-items: center;
  
  animation: fadeIn 0.8s ease-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(5px); }
  to   { opacity: 1; transform: translateY(0); }
}

@keyframes fadeUp {
  from { opacity: 0; transform: translateY(200px); }
  to   { opacity: 1; transform: translateY(0); }
}


h1 {
  margin: 0;
  font-size: 4rem;
  font-family: "Cormorant SC", serif;
  font-style: normal;
}

hr {
  margin: 2rem 2rem;
  border: none;
  border-top: 1px solid var(--black);
}

.form {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(4px);

  max-width: 600px;
  min-height: 225px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: 0;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 10px;

  animation: fadeUp 2s ease-out;
}

input, select, textarea, button {
  margin-top: 0.5rem;
  padding: 0.75rem;
  border: 0px solid var(--white);
  border-radius: 10px;
  font-size: 1rem;
  text-align: center;

  color: var(--black);
}

button {
  margin-top: 1.5rem;
  border-color: var(--black);
  border-style: solid;
  background-color: var(--white);
  color: var(--black);
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 10px;
}

*:focus {
  outline: none;
  border-color: inherit;
}

button:hover {
  background: var(--white);
  transform: translateY(-2px);
}

.btn:active {
  transform: translateY(0);
}

/* Mobile layout */
@media (max-width: 900px) {

    body {
      background-image: url('./Assets/Form/Botanical-Background-mobile2.jpeg');
    }

    h1 {
      font-size: 2rem;
    }

    label, input, select, button, textarea {
      margin-top: 1rem;
      font-weight: 400;
      font-size: 1rem;
    }
}