:root {
    --white: #fdf6f0;
    --black: #36454F;
} 

body {
  margin: 0;
  padding: 0;
}

.site-header {
  position: sticky;
  background: #fff;
  /*backdrop-filter: blur(8px);
  border-bottom: 1px solid var(--border); */
}
.header-inner {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1rem;
}

.brand {
  /*font-family: "Playfair Display", serif;*/
  
  font-weight: 700;
  font-size: 1.25rem;
}
.nav { 
  display: none; 
  gap: 1rem; 
  flex: 1; 
}
.nav a { 
  color: var(--muted); 
  font-weight: 300;
 }
.rsvp-cta { 
  margin-left: auto; 
}
@media (min-width: 720px) {
  .nav { display: flex; }
  .rsvp-cta { margin-left: 0; }
}

.split-layout {
  display: flex;
  min-height: 100vh;
}

/*------------------------------------ Left hero fixed with background image */
.hero-left {
  flex: 1;
  position: sticky;
  top: 0;
  height: 100vh;
  background-image: url('./Assets/C+J/CoverImage32.jpg'); 
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
}
.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4); /* dark overlay */
}
.hero-content {
  font-family: "Cormorant SC", serif;

  position: absolute;
  bottom: 2rem;
  left: 2rem;
  margin-bottom: 5rem;
  margin-left: 5rem;
  text-align: left;
  z-index: 1;
}
.hero-content h1 {
  font-size: clamp(4rem, 10vw, 7rem);
  font-weight: 400;
  font-family: "Bonheur Royale", cursive;
  /*font-family: "Cormorant SC", serif;*/
  margin-bottom: 1rem;
}
.countdown {
  margin: 1rem 0;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--accent);
}

/*--------------------------------------------- Right scrollable column */
.hero-right {
  flex: 1;
  overflow-y: auto;
  font-family: "Crimson Pro", serif;
  color: var(--black);

  padding: 2rem;
  background-color: var(--white);
}
.hero-right section {
  margin-bottom: 3rem;
}

.hero-right section h1, h2 {
  font-family: "Cormorant SC", serif;
  color: black;
}

hr{
  height: 5rem;
  width: 0px;
}

/*------------------------------------ Date Location */

#details {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.rsvp {
  display: inline-block;
  color: var(--black);
  background-color: var(--white);

  width: 50%;
  border: 0px solid var(--black);
  border-radius: 10px;

  padding: 20px;

  text-align: center;
  text-decoration: none;
}

/* Mobile layout */
@media (max-width: 900px) {
  .split-layout {
    flex-direction: column;
  }
  
  .hero-left {
    position: relative;
    height: auto;
    min-height: 60vh;
  }

  .hero-content {
    position: absolute;
    bottom: 1rem;
    left: auto;
      margin-left: auto;
    text-align: center;
    padding: 2rem 1rem;
  }

  .hero-right {
    overflow: visible;
    padding: 1rem;
  }
}
