:root {
--white: #fdf6f0;
--black: #36454F;
} 

textarea {
  resize: vertical;
}

label {
  margin-top: 1rem;
  font-weight: 400;
  font-size: 1.5rem;
}

#guest-dropdown {
  text-align: left;
}

.guest-category {
  margin-top: 1rem;
  padding-left: 3rem;

  overflow: hidden;
  transition: all 0.3s ease;
}

details[open] > summary {
  background-color: var(--white);
}

details summary {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 10px;
  transition: background-color 0.4s ease;
}

.guest-category button {
  display: block;
  width:  100%;
  margin: 0.25rem 0;
  border-radius: 40px;
  padding: 0.5rem;
  padding-left: 2rem;
  cursor: pointer;
  text-align: left;

  background-color: 0;
}

.guest-category button:hover {
  background: var(--white);
}

#selection-box {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 40px;
  text-align: center;
  font-weight: bold;

  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.4s ease, transform 0.4s ease;

}

#selection-box.selected {
  opacity: 1;
  transform: translateY(0);
  display: block;
  color: #155724;
}

footer {
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--black);
}

@media (max-width: 900px) {

  .guest-category {
    padding-left: 0.5rem;
  }

  label, input, select, button, textarea {
  margin-top: 1rem;
  font-weight: 400;
  font-size: 1rem;
}

}